
@{
    ViewData["Title"] = "About";
}

<div class="text-center text-light mt-5 mb-3  text-capitalize">
    <h2 class="mb-3">About</h2>
    <h6>In this project i have shown how to create login and registration form using asp.net core with real-time example. And also how to use session asp.net core. We used the "Dotnet core database first approach" for crud operation.</h6>

</div>
<div class="container text-light mt-5  text-capitalize">
    <h6 class="mb-3">Verify the below-mentioned software, framework and tools are available on your system</h6>
    <ul>
        <li> Visual studio 2017</li>
        <li>Core 2.0</li>
        <li>Sql server</li>
    </ul>
</div>
