
@{
    ViewData["Title"] = "Contact";
}

<h1  class="text-center text-light mt-5 mb-3">Contact</h1>

<div class="container text-light mt-5 text-center text-capitalize">
    <h6>if any suggestions and query please let me know</h6>
    </div>
    <h6 class=" text-light text-center">aquibrahmani143@gmail.com</h6>
