@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="text-center text-light mt-5 mb-5">
    <h2 class="text-capitalize">Explanation Step By Step</h2>
</div>
<div class="container text-light ">
    <h6 class="mb-4">Step 1. Create user details table in sql server database.</h6>
    <h6 class="mb-4">Step 2. Create new asp.net core mvc project in visual studio in the name of Dbfirstapp.</h6>
    <h6 class="mb-4">Step 3. Create the class for ecommerceContext.cs, Userdetails.cs, LoginViewModel.cs, RegistrationViewModel.cs in Model  folder.</h6>
    <h6 class="mb-4">Step 4. Configure connection string in appsetting.json file </h6>
    <h6 class="mb-4">Step 5. Add Dbcontext service, Session in a startup.cs file configure service function. </h6>
    <h6 class="mb-4">Step 6. Create controller for AccountController, HomeController in controller folder. </h6>
    <h6 class="mb-4">
        Step 7. This time to create UI(view) for login and registration. Right click the AccountController index function
        and create view for login, registration function for registration view. Remember that in this function homecontroller.
    </h6>
</div>

